@media only screen and (max-width: 80.5em) {
	main, nav {
		display: flex;
        flex-direction: column;
        width: auto;
	}
    main section:nth-child(3){
        height: 720px;
        width: 720px;
    }
    img{
        height: 500px;
        width: 500px;
    }
    #target3{
        width: 720px;
        height: 700px;
    }
    footer{
        width: auto;
    }
    #cont1{
        width: auto;
    }
}
@media only screen and (max-width: 40.5em) {
    main, nav {
		display: flex;
        flex-direction: column;
        width: auto;
	}
    main section:nth-child(1),main section:nth-child(2){
        width: 350px;
    }
    main section:nth-child(2){
        height: 500px;
    }
    main section:nth-child(3){
        height: 400px;
        width: 350px;
    }
    img{
        height: 250px;
        width: 250px;
    }
    }
    footer{
        width: auto;
    }
    #cont1{
        width: auto;
    }