@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Source+Sans+Pro:wght@200&display=swap');


html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
    background-color: #04124b;
    padding-bottom: 20px;
}

.main_header {
    display: grid;
    grid-template-columns: 4fr .5fr .5fr;
    grid-gap: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

p, nav {
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: flex;
    margin: auto;
    margin-left: 15px;
    border-radius: 100%;
}

#logo img {
    display: block;
    max-width:180px;
    max-height:95px;
    width: auto;
    height: auto;
}

#logo h1{
    font-size: 24px;
    margin-top: 15px;
}

#logo h2 {
    font-size: 20px;
    margin-top: 10px;
}

#logo div {
    margin-top: 20px;
}

nav {
    font-size: 20px;

}

#current_date {
    background-color: black;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: solid #fff;
    border-width: thin;
    text-align: center;
    font-size: 16px;
    width: 95%;
    margin: auto;
    margin-top: 15px;
}

#social_media {
    display: flex;
    margin: 0;
    padding: 15px;
    margin-top: 30px;
}

#social_media img {
    width: 40px;
    height: 40px;
    margin-left: 5px;

}
#social_media img:hover, .location_map img:hover{
    transform: scale(1.1);
}
nav button {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 45px;
    margin-left: -4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;

}

nav ul li a:hover {
    background: linear-gradient(90deg, transparent, #fff, transparent) bottom / var(--d, 0) 10px no-repeat;
    --d: 90%;
    transition: 0.3s;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#nav-button span:nth-child(1) {
    display: block;
}

#nav-button span:nth-child(2) {
    display: none;
}

#nav-button.open span:nth-child(1) {
    display: none;
}

#nav-button.open span:nth-child(2) {
    display: block;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    height: 830px;
}

main .featured, .event, .join_here, .weather, .news-update, .right-column  {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.right-column div {
    border: 1px solid black;
    padding: 10px;
    height: 50%;
}

.spotlight3, .join_here {
    display: none;
}

footer {
    background-color: #04124b;
}

footer img {
    display: block;
    margin: auto;
    width: 170px;
}

footer h2 {
    text-align: center;
    margin-top: -15px;
    font-size: 20px;
}

footer p, a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}
.footer_logo img, #logo img{
    border-radius: 50%;
}

.address p {
    margin-top: -8px;
    margin-bottom: 12px;;
}

.location_map {
    display: flex;
    color: white;
    margin: auto;

}
.map_container{
    display: flex;
}

.location_map img{
    width: 40px;
}

.footer_info_small {
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid black;
}

.footer_info_small p, h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer_info_medium {
    display: none;
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid black;
}

.footer_info_large {
    display: none;
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid black;
}